# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\3rdYear\PC\expense-management-back-end\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
